*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
.navbar-nav .input-group{
  height: 30px;
}
.navbar-nav .input-group .form-control{
  height: 30px;
}
.navbar-nav .input-group .btn{
  height: 30px;
}
.navbar-nav .input-group .btn i{
  text-align: center;
}
.navbar .container-fluid a h1{
 height: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.navbar .container-fluid a h1 span{
 color:orange;
 margin-right: 6px ;
}


.carousel{
     position: relative;
}
 .carousel .carousel-indicators .abc{
     width: 5px !important;
     height: 5px !important;
     border-radius: 50%;
     padding: 3px;
     margin: 3px;
     }
 .carousel .carousel-indicators li {
     background-color: gray;
 }
.carousel .carousel-indicators li.active {
 background-color:black;
 } 

 .carousel .carousel-inner .carousel-item video{
     width: 100vw;
     height: 100%;
 }
 .carousel .carousel-inner .carousel-caption{
     position: absolute;
     top:40%;
     left: 50%;
     transform: translate(-50%);
     overflow: hidden;
 }
 .changecontent::after{
     content: ' ';
     color: orange;
     text-shadow: 1px 1px 1px black;
     animation: changetext 15s infinite linear;
   }
   @keyframes changetext{
     0%{content: "Andhra Pradesh";}
     10%{content: "Telanagana";}
     20%{content: "Tamilnadu";}
     30%{content: "Delhi";}
     40%{content: "Karnataka";}
     50%{content: "Uttar Pradesh";}
     60%{content: "Kerala";}
     70%{content: "Madhya Pradesh";}
     80%{content: "Gujarath";}
     90%{content: "Rajastan";}
     95%{content: "Jammu & Kashmir";}
     100%{content: "Maharashtra";}
   }
   .carousel .carousel-inner .carousel-caption p span {
     font-weight: 400;
     font-size: 25px;
     color:#128bd1;
   }
   .carousel .carousel-inner .carousel-caption p {
     font-weight: bolder;
   }
   #booking{
     background-color: #f9f9f9;
     padding-top: 20px;
   
}
.booking .main-txt h1{
    text-align: center;
    margin-bottom: 50px;
}
.booking .row .col .form{
  margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;

   }
   .booking .row .book-img{
    display: flex;
    justify-content: center;

   }
   .booking .row .book-img img{
    height: 80%;
   }
   .bi{
    color: orange ;
    font-size: x-large;
  }
  .bi-search{
    display: flex;
    font-size: 20px;
   align-items: center;
   justify-content: center;
  }
  .main-txt h1{
    text-align: center;
    margin-top: 80px;
    font-weight: 700;
  }
  .main-txt h1 span{
    color: orange;
  }
  .packages{
    padding-top: 20px;
  }

  .packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .packages .card img{
    border-radius: 5px;
    height: 280px;
    
  }
  .packages .card .card-body{
    background: transparent;
  }
  .packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
  }
  .packages .card .card-body p{
    font-weight: 600;
    letter-spacing: 1px;
  }
  .packages .card .card-body h6{
    font-size: 20px;
  }
  .packages .card .card-body a{
    background: orange;
    color: white;
    border-radius: 5px;
  }

  .services{
    background:white;
    margin-top: 30px;
  }
  
  .services .card{
    box-shadow:  0px 5px 5px -6px black;
    border: none;
    cursor: pointer;
  }
  .services .card i{
    font-size: 80px;
    text-align: center;
    color: orange;
    margin-top: 20px;
  }
  .services .card .card-body h3{
    font-weight: 700;
  }

  .gallary{
    margin-top: 30px;
  }
  .gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
  }
  .gallary .card img{
    border-radius: 10px;
    transition: 0.3s ease;
  }
  .gallary .card:hover img{
    transform: scale(1.1);
  }

  .about{
    margin-top: 20px;
    background: white;
  }
  .about .card{
    border-radius: 10px;
  }
  .about .card img{
    border-radius: 10px;
  }
  .about h2{
    font-weight: 600;
    letter-spacing: 1px;
  }
  .about p{
    font-size: 500;
  }
  #about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background:orange;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
  }
  #about-btn:hover{
    width: 170px;
  }
  #button{
    color:white;
  }
  
  #footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
  }
  #footer h1{
    font-weight: 600;
    padding-top: 20px;
    text-shadow: 0px 0px 1px black;
  }
  #footer h1 span{
    color: orange;
    margin-right: 5px;
  }
  .social-links a i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .social-links i:hover{
    background: #ffa500;
  }
  .review-card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card-title{
  color: orange;
}
  
